@font-face {
    font-family: 'xkcd';
    src: url('../styles/xkcd.ttf') format('truetype');
   }

   @font-face {
    font-family: 'Inter';
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap');
   }

   html, body {
  font-family: "Inter", sans-serif;
}
